root{
    background-color: white;
    }
    h2{
        font-family: 'Times New Roman';
        margin-top: -.5rem;
    }

    input{
        text-align: center;
    }

    li{
        padding-bottom: 3px;
        color: white;
        text-shadow: 1.5px 1px 3px black;
        list-style-type: none;
    }

    p{
        color: black;
        text-shadow: .5px .5px white;
        text-align: center;
        font-size: xx-large;
        font-family: sans-serif;
    
    }

    
    .container {
        width: 100vw;
        height: 100vh;
        display: flex;
        justify-content: center;
        align-items: center;
        max-width: 80rem;
        margin: 0 auto;
      }

      button {
        display: inline-block;
        font-family: sans-serif;
        background-color: #061dec;
        border-radius: 10px;
        border: 3px double #cccccc;
        color: #eeeeee;
        text-align: center;
        font-size: 15px;
        padding: 20px;
        width: 200px;
        margin-top: 3px;
      }
    
      button:hover{
          box-shadow: 4px 3px 6px #061dec;
      }


      #endGameBtns{
        display: none;
    }